@using Nop.Plugin.Widgets.SpecialOrder.Controllers;
@using Nop.Plugin.Widgets.SpecialOrder.Resources;
<li>
    @Html.ActionLink(T(SpecialOrderResources.ListCaption).Text,
    SpecialOrderController.ControllerName,
    null,
    null)
</li>
